In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,confusion_matrix, classification_report
# ensemble --> Combination

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
churn_data=pd.read_csv('/content/drive/MyDrive/Python_Intellipaat/python programming/customer_churn.csv')
# churn --> Whether the customer has stopped using the services of the telecom company or not.

In [4]:
# EDA --> Exploratory Data Analysis (To understand the data)
# Dividing the data into x and y
# Splitting the data in train and test
# Build a model
# Train the model
# Test the model
# Accuracy score
# Confusion Matrix
# Classification Report

In [ ]:
churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [ ]:
53.85*2

107.7

In [ ]:
churn_data['MultipleLines'].value_counts()

No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64

In [ ]:
churn_data['InternetService'].value_counts()

Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64

In [ ]:
churn_data['tenure'].sort_values(ascending = False)

1672    72
193     72
4553    72
483     72
3266    72
        ..
1082     0
3826     0
936      0
6754     0
1340     0
Name: tenure, Length: 7043, dtype: int64

In [ ]:
churn_data.shape # Knowing the no. of rows and columns

(7043, 21)

In [ ]:
churn_data.dtypes # knowing the data type of each and every column

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [ ]:
# object --> string value
a = ' '

In [ ]:
a

' '

In [ ]:
churn_data.isna().sum() # checking null values , isnull()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
a = (churn_data['tenure']<10) | (churn_data['TotalCharges']<'500')

In [ ]:
a.value_counts()

True     5237
False    1806
dtype: int64

In [ ]:
a = ''

In [ ]:
a

''

In [ ]:
a1 = int(a)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
a1

5

In [ ]:
churn_data['Dependents'].value_counts()

No     4933
Yes    2110
Name: Dependents, dtype: int64

In [ ]:
churn_data['TotalCharges'].value_counts()

20.20      11
19.75       9
20.05       8
19.90       8
19.65       8
           ..
6849.40     1
692.35      1
130.15      1
3211.90     1
6844.50     1
Name: TotalCharges, Length: 6530, dtype: int64

In [ ]:
churn_data[churn_data["TotalCharges"]==" "]

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,,No

In [ ]:
#changing theobject data to numeric to check if the nulll value is present
churn_data["TotalCharges"]=pd.to_numeric(churn_data["TotalCharges"], errors="coerce")
# If we mention this, while the conversion is happening, if there are any null values present,
# I'll be easily able to get them.
# ' ', '12', ' ' --> after converting --> ( ,12, )

In [ ]:
churn_data.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [ ]:
# Null values --> (Empty spaces), NaN

In [ ]:
churn_data.isna().sum()

customerID           0
gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [ ]:
len(churn_data)

7043

In [ ]:
100*(11/7043)

0.1561834445548772

In [ ]:
# checking the percentage contribution of null values to entire data
null_value_p=round(100*(churn_data.isna().sum())/len(churn_data),3)
null_value_p

customerID          0.000
gender              0.000
SeniorCitizen       0.000
Partner             0.000
Dependents          0.000
tenure              0.000
PhoneService        0.000
MultipleLines       0.000
InternetService     0.000
OnlineSecurity      0.000
OnlineBackup        0.000
DeviceProtection    0.000
TechSupport         0.000
StreamingTV         0.000
StreamingMovies     0.000
Contract            0.000
PaperlessBilling    0.000
PaymentMethod       0.000
MonthlyCharges      0.000
TotalCharges        0.156
Churn               0.000
dtype: float64

In [ ]:
100-0.156

99.844

In [ ]:
# 99.84 % => Data without null values

In [ ]:
churn_data=churn_data.dropna() # dropping the null values

In [ ]:
churn_data.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [ ]:
churn_data

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [ ]:
churn_data["gender"].value_counts() # If I want to check which value is coming how many no. of times

Male      3549
Female    3483
Name: gender, dtype: int64

In [ ]:
churn_data["Contract"].value_counts()

Month-to-month    3875
Two year          1685
One year          1472
Name: Contract, dtype: int64

In [ ]:
churn_data['tenure'].nunique()

72

In [ ]:
# 1,2,3,4,5,6,7,7,3,3 = 10 values, 7 unique values
len(churn_data["customerID"].unique()) # To check how many unique values are present in the column

7032

In [ ]:
churn_data.info() # It provides a basic information about the dataset

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7032 non-null   object
 1   gender            7032 non-null   object
 2   SeniorCitizen     7032 non-null   int64
 3   Partner           7032 non-null   object
 4   Dependents        7032 non-null   object
 5   tenure            7032 non-null   int64
 6   PhoneService      7032 non-null   object
 7   MultipleLines     7032 non-null   object
 8   InternetService   7032 non-null   object
 9   OnlineSecurity    7032 non-null   object
 10  OnlineBackup      7032 non-null   object
 11  DeviceProtection  7032 non-null   object
 12  TechSupport       7032 non-null   object
 13  StreamingTV       7032 non-null   object
 14  StreamingMovies   7032 non-null   object
 15  Contract          7032 non-null   object
 16  PaperlessBilling  7032 non-null   object
 17  PaymentMethod     7032 non-null   object
 18  MonthlyCharges    7032 non-null   float64
 19  TotalCharges      7032 non-null   float64
 20  Churn             7032 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.2+ MB

In [ ]:
churn_data.drop(columns=["customerID"],inplace=True)

C:\Users\Dell\AppData\Local\Temp\ipykernel_8488\2024631271.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data.drop(columns=["customerID"],inplace=True)

In [ ]:
churn_data.shape

(7032, 20)

In [ ]:
#churn_data["gender"]=churn_data["gender"].map("Male":1,"Female":0)
# converting the object data to numeric with the help of label encoder

In [ ]:
churn_data.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity',
       'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV',
       'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod',
       'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [ ]:
len(churn_data.columns)

20

In [ ]:
# You want to have a user-defined list
l = []
n = int(input('How many values you want to input '))
for i in range(n):
    a = int(input('Enter the value '))
    l.append(a)
l

How many values you want to input 5
Enter the value 1
Enter the value 2
Enter the value 3
Enter the value 4
Enter the value 5

[1, 2, 3, 4, 5]

In [ ]:
col_list=[]
for col in churn_data.columns:
    print(col)

gender
SeniorCitizen
Partner
Dependents
tenure
PhoneService
MultipleLines
InternetService
OnlineSecurity
OnlineBackup
DeviceProtection
TechSupport
StreamingTV
StreamingMovies
Contract
PaperlessBilling
PaymentMethod
MonthlyCharges
TotalCharges
Churn

In [ ]:
# Label encoding --> To convert object data to a numeric data
#extract the object columns and convert the object to numeric
col_list=[]
for col in churn_data.columns:
    if(churn_data[col].dtype=="object"):
        col_list.append(col)
print(col_list)

['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']

In [ ]:
type(col_list)

list

In [ ]:
col_list.pop(-1)

'Churn'

In [ ]:
col_list

['gender',
 'Partner',
 'Dependents',
 'PhoneService',
 'MultipleLines',
 'InternetService',
 'OnlineSecurity',
 'OnlineBackup',
 'DeviceProtection',
 'TechSupport',
 'StreamingTV',
 'StreamingMovies',
 'Contract',
 'PaperlessBilling',
 'PaymentMethod']

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
l1 = LabelEncoder()

In [ ]:
for i in col_list:
    churn_data[i]=l1.fit_transform(churn_data[i])
# fit --> feeding the data, transform --> converting the data into numeric data type

C:\Users\Dell\AppData\Local\Temp\ipykernel_8488\1168583704.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  churn_data[i]=l1.fit_transform(churn_data[i])

In [ ]:
# m --> 1, f -->0

In [ ]:
churn_data.head(20)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85,No
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50,No
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15,Yes
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75,No
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,Yes
5,0,0,0,0,8,1,2,1,0,0,2,0,2,2,0,1,2,99.65,820.50,Yes
6,1,0,0,1,22,1,2,1,0,2,0,0,2,0,0,1,1,89.10,1949.40,No
7,0,0,0,0,10,0,1,0,2,0,0,0,0,0,0,0,3,29.75,301.90,No
8,0,0,1,0,28,1,2,1,0,0,2,2,2,2,0,1,2,104.80,3046.05,Yes
9,1,0,0,1,62,1,0,0,2,2,0,0,0,0,1,0,0,56.15,3487.95,No
10,1,0,1,1,13,1,0,0,2,0,0,0,0,0,0,1,3,49.95,587.45,No
11,1,0,0,0,16,1,0,2,1,1,1,1,1,1,2,0,1,18.95,326.80,No
12,1,0,1,0,58,1,2,1,0,0,2,0,2,2,1,0,1,100.35,5681.10,No
13,1,0,0,0,49,1,2,1,0,2,2,0,2,2,0,1,0,103.70,5036.30,Yes
14,1,0,0,0,25,1,0,1,2,0,2,2,2,2,0,1,2,105.50,2686.05,No
15,0,0,1,1,69,1,2,1,2,2,2,2,2,2,2,0,1,113.25,7895.15,No
16,0,0,0,0,52,1,0,2,1,1,1,1,1,1,1,0,3,20.65,1022.95,No
17,1,0,0,1,71,1,2,1,2,0,2,0,2,2,2,0,0,106.70,7382.25,No
18,0,0,1,1,10,1,0,0,0,0,2,2,0,0,0,0,1,55.20,528.35,Yes
19,0,0,0,0,21,1,0,1,0,2,2,0,0,2,0,1,2,90.05,1862.90,No

In [ ]:
churn_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7032 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7032 non-null   int32
 1   SeniorCitizen     7032 non-null   int64
 2   Partner           7032 non-null   int32
 3   Dependents        7032 non-null   int32
 4   tenure            7032 non-null   int64
 5   PhoneService      7032 non-null   int32
 6   MultipleLines     7032 non-null   int32
 7   InternetService   7032 non-null   int32
 8   OnlineSecurity    7032 non-null   int32
 9   OnlineBackup      7032 non-null   int32
 10  DeviceProtection  7032 non-null   int32
 11  TechSupport       7032 non-null   int32
 12  StreamingTV       7032 non-null   int32
 13  StreamingMovies   7032 non-null   int32
 14  Contract          7032 non-null   int32
 15  PaperlessBilling  7032 non-null   int32
 16  PaymentMethod     7032 non-null   int32
 17  MonthlyCharges    7032 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7032 non-null   object
dtypes: float64(2), int32(15), int64(2), object(1)
memory usage: 741.7+ KB

In [ ]:
churn_data.describe() # To provide some stats analysis

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
count,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000,7032.000000
mean,0.504693,0.162400,0.482509,0.298493,32.421786,0.903299,0.940557,0.872582,0.789249,0.905859,0.903868,0.796359,0.984926,0.992890,0.688567,0.592719,1.573237,64.798208,2283.300441
std,0.500014,0.368844,0.499729,0.457629,24.545260,0.295571,0.948627,0.737271,0.859962,0.880394,0.880178,0.861674,0.885285,0.885385,0.832934,0.491363,1.067504,30.085974,2266.771362
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,18.250000,18.800000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,35.587500,401.450000
50%,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,2.000000,70.350000,1397.475000
75%,1.000000,0.000000,1.000000,1.000000,55.000000,1.000000,2.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,2.000000,89.862500,3794.737500
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,118.750000,8684.800000

In [ ]:
churn_data.dtypes

gender                int32
SeniorCitizen         int64
Partner               int32
Dependents            int32
tenure                int64
PhoneService          int32
MultipleLines         int32
InternetService       int32
OnlineSecurity        int32
OnlineBackup          int32
DeviceProtection      int32
TechSupport           int32
StreamingTV           int32
StreamingMovies       int32
Contract              int32
PaperlessBilling      int32
PaymentMethod         int32
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [ ]:
churn_data["gender"].value_counts()

1    3549
0    3483
Name: gender, dtype: int64

In [ ]:
churn_data["tenure"].value_counts()

1     613
72    362
2     238
3     200
4     176
     ...
38     59
28     57
39     56
44     51
36     50
Name: tenure, Length: 72, dtype: int64

In [ ]:
# Dividing the data into independent and dependent variables
X=churn_data.iloc[:,:-1]#independent data
y=churn_data.iloc[:,-1]#target data

In [ ]:
X

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,0,0,1,0,1,0,1,0,0,2,0,0,0,0,0,1,2,29.85,29.85
1,1,0,0,0,34,1,0,0,2,0,2,0,0,0,1,0,3,56.95,1889.50
2,1,0,0,0,2,1,0,0,2,2,0,0,0,0,0,1,3,53.85,108.15
3,1,0,0,0,45,0,1,0,2,0,2,2,0,0,1,0,0,42.30,1840.75
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,2,0,2,0,2,2,2,2,1,1,3,84.80,1990.50
7039,0,0,1,1,72,1,2,1,0,2,2,0,2,2,1,1,1,103.20,7362.90
7040,0,0,1,1,11,0,1,0,2,0,0,0,0,0,0,1,2,29.60,346.45
7041,1,1,1,0,4,1,2,1,0,0,0,0,0,0,0,1,3,74.40,306.60
7042,1,0,0,0,66,1,0,1,2,0,2,2,2,2,2,1,0,105.65,6844.50

In [ ]:
y

0        No
1        No
2       Yes
3        No
4       Yes
       ...
7038     No
7039     No
7040     No
7041    Yes
7042     No
Name: Churn, Length: 7032, dtype: object

In [ ]:
#spliting the data to train and test
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)
# X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=0)

In [ ]:
# 1 2 3 4 5 6 7 8
# 1 5 3
# 2 1 7
# Pattern --> Select only the even numbers
# 2,4,6,8

In [ ]:
X_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
6030,0,0,0,0,43,0,1,0,0,0,2,0,2,2,0,1,0,49.05,2076.20
3410,1,0,0,0,3,1,0,0,0,0,0,0,2,0,0,0,1,53.40,188.70
5483,0,0,1,0,55,1,2,1,0,0,2,0,0,0,0,1,2,77.75,4458.15
5524,1,0,1,1,45,1,0,0,2,0,0,2,0,0,2,0,0,54.65,2553.70
6337,0,0,1,1,55,1,2,1,2,0,0,0,2,2,1,0,3,100.90,5448.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,1,0,0,0,3,1,2,0,0,0,0,0,0,0,0,0,0,50.40,137.25
5199,0,0,0,0,51,1,2,1,0,2,2,2,2,2,1,1,2,111.50,5703.25
5235,1,0,0,0,9,1,2,1,2,0,0,0,0,0,0,1,2,81.15,784.45
5399,0,0,0,0,50,1,0,2,1,1,1,1,1,1,1,0,0,19.75,989.05
862,1,1,1,0,20,1,0,1,0,2,0,0,0,0,0,1,2,73.65,1463.50

In [ ]:
X_train.shape

(5625, 19)

In [ ]:
y_train.shape

(5625,)

In [ ]:
X_test.shape

(1407, 19)

In [ ]:
y_test.shape

(1407,)

In [ ]:
X_train

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
6030,0,0,0,0,43,0,1,0,0,0,2,0,2,2,0,1,0,49.05,2076.20
3410,1,0,0,0,3,1,0,0,0,0,0,0,2,0,0,0,1,53.40,188.70
5483,0,0,1,0,55,1,2,1,0,0,2,0,0,0,0,1,2,77.75,4458.15
5524,1,0,1,1,45,1,0,0,2,0,0,2,0,0,2,0,0,54.65,2553.70
6337,0,0,1,1,55,1,2,1,2,0,0,0,2,2,1,0,3,100.90,5448.60
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3778,1,0,0,0,3,1,2,0,0,0,0,0,0,0,0,0,0,50.40,137.25
5199,0,0,0,0,51,1,2,1,0,2,2,2,2,2,1,1,2,111.50,5703.25
5235,1,0,0,0,9,1,2,1,2,0,0,0,0,0,0,1,2,81.15,784.45
5399,0,0,0,0,50,1,0,2,1,1,1,1,1,1,1,0,0,19.75,989.05
862,1,1,1,0,20,1,0,1,0,2,0,0,0,0,0,1,2,73.65,1463.50

In [ ]:
# Build the random forest model
classifier1=RandomForestClassifier(n_estimators=500) # No. of decision trees = 500
classifier1.fit(X_train,y_train) # feeding the data for training, studying for the exam
y_pred1=classifier1.predict(X_test) # predictions for testing data, the answers that you write in exam

In [ ]:
y_pred1

array(['No', 'No', 'Yes', ..., 'No', 'No', 'No'], dtype=object)

In [ ]:
y_test # The actual answers available to the teacher

2481     No
6784     No
6125    Yes
3052     No
4099     No
       ...
1733     No
5250     No
5465     No
5851     No
3984     No
Name: Churn, Length: 1407, dtype: object

In [ ]:
from sklearn import tree

In [ ]:
# tree.plot_tree(classifier1,feature_names=X.columns,class_names='churn',filled=True)

In [ ]:
c1=confusion_matrix(y_test,y_pred1)

In [ ]:
print(c1)

[[927 106]
 [200 174]]

In [ ]:
# TP --> 931
# FP --> 107
# FN --> 193
# TN --> 176

In [ ]:
a1=accuracy_score(y_test,y_pred1)

In [ ]:
print(a1)

0.7825159914712153

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [ ]:
n=[100,200,300,400,500,600,700,800,900,1000]
accuracy_l=[]
for i in n:
    model=RandomForestClassifier(n_estimators=i)
    model.fit(X_train,y_train)
    pred=model.predict(X_test)
    a=accuracy_score(y_test,pred)
    accuracy_l.append(a)
accuracy_l

[0.7938877043354655,
 0.7860696517412935,
 0.7924662402274343,
 0.7903340440653873,
 0.7910447761194029,
 0.7889125799573561,
 0.7860696517412935,
 0.7917555081734187,
 0.7889125799573561,
 0.7903340440653873]

In [ ]:
d={"Number of trees":n,"Accuracy":accuracy_l}
df=pd.DataFrame(d)
print(df)

   Number of trees  Accuracy
0              100  0.793888
1              200  0.786070
2              300  0.792466
3              400  0.790334
4              500  0.791045
5              600  0.788913
6              700  0.786070
7              800  0.791756
8              900  0.788913
9             1000  0.790334

In [ ]:
max(accuracy_l)

0.7938877043354655

In [ ]:
model=RandomForestClassifier(n_estimators=100)
model.fit(X_train,y_train)
y_pred = model.predict(X_test)
accuracy_score(y_test, y_pred)

0.7953091684434968

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

          No       0.90      0.83      0.87      1120
         Yes       0.50      0.64      0.56       287

    accuracy                           0.80      1407
   macro avg       0.70      0.74      0.71      1407
weighted avg       0.82      0.80      0.80      1407

In [ ]:
# Precision --> Correct predictions(1) --> TP/TP+FP
# Recall --> How many no. of times the model has predicted correctly, correct true pred --> TP/TP+FN
# F-1 score --> The average of precision and recall.
# Support --> How many no. of times No/Yes has appeared in the predictions.